*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    background-color: .;

}


.namn a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 17px;
    margin-left: 50px;
}

.menu ul {
    margin-left: 1033px;
    float: right;
}

.menu ul li{
    display: inline-block;
    margin-right: 35px;
    cursor: pointer;
    align-items: center;


}

.menu ul li a{
    text-decoration: none;
  color:black;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}
.hello h2 {
    color: black;
    width: 485px;
    position: relative;
    left: 605px;
    top: 625px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
}
.beskrivning p{
width: 650px;
position: relative;
left: 550px;
height: 40px;
color: black;
top: 110px;
font-size: 13px;
line-height: 25px;

}

.kw img{

    width: 670px;
    height: 500px;
    position: relative;
    left: 605px;
    top: 50px;
}
.about p {
    color: #0c0b0b;
    width: 670px;
    left: 605px;
    position: relative;
    top: 125px;
    letter-spacing: 1px;
    line-height: 25px;
}
.new1 hr{
  position: relative;
      top: 160px;
      width: 670px;
      left: 605px;
  }
.exp h2{
  width: 200px;
  position: relative;
  left: 605px;
  top: 190px;
}
.exp hr{
  width: 200px;
  position: relative;
  left: 605px;
  top: 200px;
}
